@import '../scss/reset.scss';
	
/**
	* header
	*/

header {

	.header-innner {
		display: flex;
		flex-wrap: wrap;
		margin-top: 25px;
		letter-spacing: 1.5px;
	}

	.header-site-title {
		width: 45%;
		font-size: 2em;
	}

	a {
		padding: 10px 0px;
		font-weight: 900;
	}

	.header-nav-menu {
		width: 50%;

		.nav-bar {
			display: none;

			@media #{$mq_sp} {
				display: block;
				margin-top: 7px;
				font-size: 30px;
				text-align: right;
			}
		}

		.nav-menu-list {
			display: flex;

			@media #{$mq_sp} {
				display: none;
				position: absolute;
				top: 83px;
				left: 0;
				width: 100%;
				padding: 0px;
				background-color: #ffff;
				z-index: 100;
			}

			li {
				padding: 15px 10px;

				&:hover {
					background-color: #F6F8FA;
				}
			}
		}
	}

	.header-site-description {
		margin-top: 10px;
		font-size: 12px;
		line-height: 1.4;
	}
}